/* CENTERING FIX - Nuclear Option */
/* This overrides ALL styling to force centering */

.masthead__inner-wrap {
  max-width: 1280px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
}

#main {
  max-width: 1280px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
}

.page__footer footer {
  max-width: 1280px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 100% !important;
}

/* Make sure parent containers don't interfere */
.masthead {
  width: 100% !important;
}

.page__footer {
  width: 100% !important;
}
